black
sentencepiece
datasets
tqdm
rich
eflomal
snakemake
snakemake-executor-plugin-slurm
numpy
scipy
ipython
ipdb
pyaml
tokenization-scorer
ipykernel
seaborn
matplotlib
marian-tensorboard
sacrebleu
unbabel-comet
tiktoken
transformers
accelerate
